/* Phillip Motazedi
 * 2/18/2025
 * portfolio-project*/

/* Global Reset and Base Styles*/

body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 30px;
    border-radius: 15px;
}

/* Header */
header {
    background-color: #214525;
    color: #fff;
    text-align: left;
    padding: 44px 0;
}

header h1 {
    font-size: 3.0em;
    font-family: trebuchet ms, arial, sans-serif;
    text-align: center;
}

header h3 {
    font-size: 1.0em;
    text-align: center;
}

/* Navigation */
nav {
    background-color: lightgray;
    text-align: center;
    padding: 15px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #214525;
}

/* Main Section */
main {
    padding: 20px;
    background-color: #4e5851;
    color: white;
}

/* Footer */
footer {
    background-color: lightgray;
    color: #214525;
    padding: 30px;
}

footer a {
    color: #214525;
    text-decoration: none;
}

/*  Contact Section  */
iframe {
    padding: 30px;
}

/*  Mobile-Specific Styles  */
nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

main {
    padding: 10px;
}

nav ul {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: block;
    margin: 10px 0;
}

nav a {
    font-size: 1.2em;
    padding: 10px;
}

h1 {
    font-size: 5em;
}

img {
    max-width: 100%;
}

/*  Tablet Viewport  */
@media (min-width: 682px) {
    nav li a {
        display: block;
        color: #fff;
        padding: 0.5em 5em;
        text-decoration: none;
    }

    main {
        padding: 30px;
    }

    header h1 {
        font-size: 3.5em;
    }

    header h3 {
        font-size: 1.5em;
        padding: 20px;
    }

    img {
        max-width: 95%;
    }
}

/*  Desktop Viewport */
@media (min-width: 1000px) {
    header h1 {
        font-size: 3.9em;
    }

    header h3 {
        font-size: 2.0em;
        padding: 30px;
    }

    img {
        max-width: 90%;
        display: block;
    }

    nav a:hover {
        color: #33863d;  
        text-decoration: underline; 
    }

    main {
        padding: 60px;
        max-width: 1200px;
        margin: 0 auto;
    }
}
